.channel_name{
  font-weight: bold;
  color: black;
  font-size: medium;
}

.channel_updoot_creation{
  font-size: smaller;
  color: #f1f1f2;
}

.timer{
  float: bottom;
  text-align: right;
  display: block;
}
