.channel_name{
  font-weight: bold;
  color: #1995ad;
  font-size: medium;
}

.channel_updoot_creation{
  font-size: smaller;
  color: #a1d6e2;
}

.timer{
  float: bottom;
  text-align: right;
  display: block;
}
