

	<div class="row col-md-12 container">


      <div id="sidebar" class="col-md-3 centered_block sidebar">

        <h1>{{channel}}</h1>

        <app-channel-list></app-channel-list>
        <app-channel-form></app-channel-form>
      </div>

      <div id="chat" class="col-md-9 centered_block main">

        <h1> {{title}} </h1>

        <app-message-list></app-message-list>
        <app-message-form></app-message-form>
      </div>
    </div>
    <div class="row well centered_block">
      <br><app-message-pager></app-message-pager><br>



  </div>


