h1 {
  text-align: center;
}
.container{
	background-color:#eeeeee;
}
.centered_block {
	display : block;
}

hide{
	height: 100px;
}
hide:FOCUS{
	height: auto;
}

.min_margin{
	margin: 5%;
}


.well{
	background-color: #333333;
}
.sidebar{
	background-color: #e3e3e3;
}
.main{
	background-color: #ffffff;
}
.scrollable{
	overflow: scroll;
}
.left{
	float:left;
	align:left;
	text-align: left;

}
bottom{
	float:middle;
}
