<br><div class="container">
  <div class="row justify-content-md-center">
    <div class=col-xs-5 col-md-3 col-lg-1 centreVerticalement>
      <div style=height:10em;border:1px solid #000>
        <div class = "col-md-20 card">
          <h1>{{channel}}</h1>
          <app-channel-list></app-channel-list>
          <app-channel-form></app-channel-form>
        </div>
      </div>
    </div>
    <div class=col-xs-5 col-md-7 col-lg-9 centreVerticalement>
      <div style=height:8em;border:1px solid #F00>
        <div class="col-md-20 card">
      <h1> {{title}} </h1>
      <app-message-list></app-message-list>
      <app-message-form></app-message-form>
        </div>
      </div>
    </div>
  </div>
</div>
