h1 {
  text-align: center;
  color: #b38867;
}
.container{
	background-color:#f1f1f2;
  position: relative;
  min-width: 100%;
  height: 100vh;
}
.centered_block {
	display : block;
  align: center;
}


.channel{
  color:black;
}

.forms{
  height: 20vh;
}

.well{
	background-color: #f1f1f2;
}
.sidebar{
	background-color: #bcbabe;
  height: 80vh;
}
.main{
	background-color: #f1f1f2;
  height: 80vh;
}
.scrollable{
	overflow: scroll;
}
.left{
	float:left;
	align:left;
	text-align: left;

}
bottom{
  [height.px]:"main_div.offsetHeight";

}
