<br><div class="container">
	<h1>Je suis une page laide mais je lutte contre les discrimination en m'affirmant dans ma différence</h1>

	<div class="row col-md-11">
	  <div id="sidebar" class="col-md-3 centered_block sidebar">
	        <div class = "centered_block min_margin">
	          <h1>{{channel}}</h1>
	          <hr>
	          <div class="scrollable">
		          <app-channel-list></app-channel-list>
		      </div>
		      <hr>
		      <app-channel-form></app-channel-form>
	      </div>
	 </div>
	 
	 
	 <div id="chat" class="main col-md-8">
	      
	      	<h1> {{title}} </h1>
	      
	   	<div class="row scrollable centered_block">
	      <hr>
	      <app-message-list></app-message-list>
	    </div>
	    <div class="col-md-12">	    
	  		<app-message-form></app-message-form>
	  	</div>
	  </div>
	  <hr>
  </div>
  <div class="row well centered_block"><br><app-message-pager></app-message-pager><br></div>
  
</div>

