h1 {
  text-align: center;
}
.container{
	background-color:#e6f2ff;
}
.centered_block {
	display : block;
  	text-align: center;
  	float:center;
}
hide{
	height: 100px;
}
hide:FOCUS{
	height: auto;
}

.min_margin{
	margin: 0.2em;
}


.well{
	background-color: #dddddd;
}
.sidebar{
	width:30%;
	display: block;
	background-color: #cce6ff;
	margin-right: 5em;
}
.main{
	background-color: #ffb366;
	max-height:30em;
	min-height:30em;
}
.scrollable{
	overflow: scroll;
	max-height: 20em;
	min-height: 5em;
}
.left{
	float:left;
	align:left;
	text-align: left;
	padding-left: 5em;
}
bottom{
	float:middle;
}
