.sender_text{
  color: #b38867;
}

.message_content_text{
}

.timestamp_text{
  font-size: smaller;
  color: #b0aeb2;
  font-weight: normal;
}

.block{
  display: block;
}

.left {
  float: left;
  text-align: right;
  margin: 2px 10px;
  display: inline;
  font-weight: bold;
}


.right {
  float: left;
  text-align: left;
  margin: 2px 5px;
  display: inline;
}

.bottom{
  float: bottom;
  text-align: right;
  display: block;
}

.userMessage{
  color:#333333;
  background-color: #b38867;
  border-radius: 10px;
  margin: 7px;
}

.notUserMessage{
  color:#333333;
  background-color: #CDCDC0;
  border-radius: 10px;
  margin: 7px;
}
