<div class="col-ld-12">
  <div class="block" *ngIf="message.from && message.content && message.createdAt ">
    <div *ngIf="ourMessage()">
      <div class="borders">
        <div class="userMessage">
          <div class="left">
            {{message.from}} :
          </div>
          <div class = "message_content_text right">
            {{message.content |emoji}}<br>
            <app-youtube-frame [currentMessage] = "message"></app-youtube-frame>
            <app-twitter-frame [message]= "message"></app-twitter-frame>
            <app-instagram-frame [message]="message"></app-instagram-frame>
            <app-image-frame [message]="message"></app-image-frame>
          </div>
          <br>
          <div class = "timestamp_text bottom">sent at : {{message.createdAt | date: "medium"}}</div>
        </div>
      </div>
    </div>
    <div *ngIf="!ourMessage()">
      <div class="notUserMessage">
        <div class = "left">
          {{message.from}} :
        </div>
        <div class = "message_content_text right">
          {{message.content |emoji}}<br>
          <app-youtube-frame [currentMessage] = "message"></app-youtube-frame>
          <app-twitter-frame [message]= "message"></app-twitter-frame>
          <app-instagram-frame [message]="message"></app-instagram-frame>
          <app-image-frame [message]="message"></app-image-frame>
        </div>
        <br>
        <div class = "timestamp_text bottom">sent at : {{message.createdAt | date: "medium"}}</div>
      </div>
    </div>
  </div>


</div>
