.sender_text{
  color: #333333;
}

.message_content_text{
}

.timestamp_text{
  font-size: smaller;
  color: #bab2b2;
  font-weight: normal;
}

.block{
  display: block;
}

.left {
  float: left;
  text-align: right;
  margin: 2px 10px;
  display: inline;
}


.right {
  float: left;
  text-align: left;
  margin: 2px 5px;
  display: inline;
}

.bottom{
  float: bottom;
  text-align: right;
  display: block;
}

.ourMessage{
  font-weight: bold ;
  color:#333333;
  background-color: #7373d6;
  border-radius: 10px;
  margin: 7px;
}

.borders{
  background-color: white;
}
