.channels_content{

  display: block;
  max-width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  overflow-y: scroll;
  overflow-x: hidden;
  width: stretch;
  height:80%;
  margin: 2%;
}

.bottom_alignment{

  position: relative;
  bottom: 2%;
  left: 5%;
  right: 5%;

}
